body {
  font-family: 'Graduate', sans-serif;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2{
  font-size:40px;
}

h3{
  font-size:20px;
}

.button{
  background-color: #2B4DA9;
  border: none;
  color: #ffffff !important;
  text-decoration: none;
  padding: 10px 10px 35px 10px;
  font-size: 14pt;
  cursor: pointer;
  font-family: 'Graduate', sans-serif;
}

.button:hover {
  background-color: #416FEF;
  border: none;
  color: #ffffff !important;
  padding: 10px 10px 35px 10px;
  text-decoration: none !important;
  font-size: 14pt;
  font-family: 'Graduate', sans-serif;
}

#delete-button {
  padding: 10px 10px 10px 10px !important;
  width: 300px;
}

hr{
  width:80%;
  border: 2px solid white;
}

/* Header section */

#title-wrapper {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

#title-wrapper h1{
    text-align: center;
    margin-bottom: 0px;
}

#title-wrapper p{
    text-align: center;
}

#header-wrapper {
  display:flex;
  background-image: url("./images/bg-img3.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height:300px;
  justify-content: center;
}

/* Form */

#form-wrapper{
  display:flex;
  justify-content: center;
  margin: 0 auto;
  max-width:500px;
  margin-top:50px;
  margin-bottom:25px;
}

.form-item-label{
  margin-bottom:15px;
}

.form-item{
  margin-bottom:25px;
}

input {
  height:30px;
  width:300px;
  font-family: 'Graduate', sans-serif;
  font-size:12pt;
}

textarea {
  font-family: 'Graduate', sans-serif;
  font-size:12pt;
  width:300px;
  margin-top:10px;
}

select {
  width:300px;
  height:30px;
  font-family: 'Graduate', sans-serif;
  font-size:12pt;
}

/* Player List */

#list-header{
  display:flex;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
}

#button-wrapper{
  display:flex;
  justify-content: center;
  margin-bottom:25px;
}

#player-list{
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
}

#player-list li{
  margin: 15px;
  padding: 0px 30px 10px 30px;
  max-width: 300px;
  border: 1px solid white;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.9);;
}

#list-section-wrapper{
  background-image: url('./images/bg-img4.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
